<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="org.panta.misskeynest">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_USER_DICTIONARY"/>
    <uses-permission android:name="android.permission.WRITE_USER_DICTIONARY"/>

    <application
            android:allowBackup="true"
            android:icon="@drawable/misskey_icon"
            android:label="@string/app_name"
            android:roundIcon="@drawable/misskey_icon"
            android:supportsRtl="true"
            android:theme="@style/AppTheme"
            tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MessageActivity">
        </activity>
        <activity android:name=".view.test_ui.TestActivity">
        </activity>

        <service
                android:name=".service.EmojiDownloadService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".SearchActivity">
        </activity>
        <activity android:name=".NotificationActivity">
        </activity>

        <service
                android:name=".service.NotePostService"
                android:enabled="true"
                android:exported="true">
        </service>
        <service
                android:name=".service.NotificationService"
                android:enabled="true"
                android:exported="true">
        </service>

        <activity android:name=".FollowFollowerActivity">
        </activity>
        <activity android:name=".AuthActivity">
            <intent-filter tools:ignore="AppLinkUrlError">
                <action android:name="android.intent.action.VIEW"/>

                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>

                <data
                        android:host="misskey_auth"
                        android:scheme="myapp"/>
            </intent-filter>
        </activity>
        <activity
                android:name=".UserActivity"
                android:label="@string/title_activity_user">
        </activity>
        <activity android:name=".ImageViewerActivity">
        </activity>
        <activity android:name=".view.note_description.NoteDescriptionActivity">
        </activity>
        <activity
                android:name=".EditNoteActivity"
                android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
                android:name=".MainActivity"
                android:configChanges="orientation"
                android:label="@string/app_name"
                android:windowSoftInputMode="stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>